/* Глобальные стили (reset) */
* {
  margin: 0;
  padding: 0;
  gap: 0;
  box-sizing: border-box; /* чтобы padding и border входили в ширину/высоту */
  user-select: none;
}

p,
a {
  font-size: 16px;   /* как у p */
  line-height: 1.5;  /* как у p */
  color: #ececec;       /* цвет текста */
  font-family: Arial, sans-serif;
  text-decoration: none; /* убираем подчёркивание у ссылок */
}
.Loading{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}